.profile__container {
    max-width: 410px;
    box-sizing: border-box;
    padding: 74px 0 70px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__greeting {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    margin: 0 0 123px 0;
}

.profile__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__form-input-area {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 16px;
}

.profile__form-input-area:first-of-type {
    border-bottom: 1px solid #E8E8E8;
    margin: 0 0 17px 0;
}

.profile__form-label {
    font-size: 11px;
    font-weight: 500;
    line-height: 1.2;
}

.profile__form-input {
    font-size: 11px;
    font-weight: 400;
    line-height: 1.2;
    text-align: end;
    border: none;
}

.profile__form-input:focus {
    outline: none;
    opacity: .6;
}

.profile__form-input-error {
    font-size: 10px;
    font-weight: 400;
    line-height: 1.2;
    color: #FF4062;
    visibility: hidden;
}

.profile__form-input-error:last-of-type {
    margin: 0 0 192px 0;
}

.profile__form-input-error_visible {
    visibility: visible;
}

.profile__button {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.21;
    border: none;
    background-color: transparent;
    padding: 0;
}

.profile__button:hover {
    cursor: pointer;
    opacity: .6;
}

.profile__button_disabled:hover {
    cursor: default;
    opacity: 1;
}

.profile__button_type_edit {
    margin: 0 0 16px 0;
}

.profile__button_type_logout {
    font-weight: 500;
    color: #FF4062;
}

@media only screen and (max-width: 880px) {
    .profile__container {
        padding: 236px 0 269px 0;
    }

    .profile__greeting {
        margin: 0 0 96px 0;
    }

    .profile__form-input-error:last-of-type {
        margin: 0 0 182px 0;
    }
}

@media only screen and (max-width: 500px) {
    .profile__container {
        max-width: 320px;
        box-sizing: border-box;
        padding: 70px 30px 40px;
    }

    .profile__greeting {
        margin: 0 0 80px 0;
    }

    .profile__form-input-error:last-of-type {
        margin: 0 0 350px 0;
    }
}