.page-with-form {
    max-width: 396px;
    padding: 0 30px;
}

.page-with-form__header {
    padding: 70px 0 40px 0;
    display: flex;
    flex-direction: column;
}

.page-with-form__greeting {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    color: #000000;
    margin: 40px 0 0 0;
}

.form {
    display: flex;
    flex-direction: column;
}

.form__label {
    font-size: 10px;
    font-weight: 400;
    line-height: 1.2;
    color: #A0A0A0;
    margin: 0 0 5px 0;
}

.form__input {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    color: #000000;
    margin: 0 0 6px 0;
    padding: 0 0 10px 0;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #E8E8E8;
}

.form__input_type_error {
    color: #FF4062;
}

.form__input:focus {
    outline: none;
    border-color: #000000;
}

.form__input-error {
    font-size: 10px;
    font-weight: 400;
    line-height: 1.2;
    color: #FF4062;
    margin: 0 0 6px 0;
    visibility: hidden;
}

.form__input-error_visible {
    visibility: visible;
}

.form__input-error:last-of-type {
    margin: 0 0 134px 0;
}

.form__input-error_form_login:last-of-type {
    margin: 0 0 203px 0;
}

.form__button {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    color: #ffffff;
    background-color: #000000;
    padding: 13px 0 15px 0;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color ease-in-out 0.3s;
}

.form__button:hover {
    background-color: #A0A0A0;
}

.page-with-form__hint {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    color: #A0A0A0;
    margin: 0;
    padding: 16px 0 70px 0;
}

.page-with-form__hint-link {
    text-decoration: none;
    color: #000000;
    margin: 0 0 0 6px;
    transition: color ease-in-out .3s;
}

.page-with-form__hint-link:hover {
    color: #A0A0A0;
}

@media only screen and (max-width: 768px) {
    .page-with-form__header {
        padding: 232px 0 40px 0;
    }

    .page-with-form__hint {
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.2;
        color: #A0A0A0;
        margin: 0;
        padding: 16px 0 232px 0;
    }
}

@media only screen and (max-width: 472px) {
    .page-with-form__header {
        padding: 56px 0 80px 0;
        align-items: center;
    }

    .page-with-form__greeting {
        font-size: 24px;
        font-weight: 500;
        line-height: 1.2;
        color: #000000;
        margin: 50px 0 0 0;
    }

    .form__input-error:last-of-type {
        margin: 0 0 222px 0;
    }

    .form__input-error_form_login:last-of-type {
        margin: 0 0 291px 0;
    }

    .form__button {
        font-size: 12px;
        padding: 15px 0 15px 0;
    }

    .page-with-form__hint {
        font-size: 12px;
        padding: 14px 0 30px 0;
    }
}