.movies-card-list {
    max-width: 1280px;
    box-sizing: border-box;
    padding: 70px 70px 80px 70px;
}

.movies-card-list__container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 360px);
    gap: 59px 30px;
    justify-items: center;
    justify-content: center;
    margin: 0 0 78px 0;
}

.movies-card-list__more-movies-button {
    width: 100%;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.21;
    padding: 11px 0 9px;
    background-color: #F9F9F9;
    border: none;
    border-radius: 6px;
    transition: background-color ease-in-out .3s;
}

.movies-card-list__more-movies-button_hidden {
    visibility: hidden;
}

.movies-card-list__more-movies-button:hover {
    cursor: pointer;
    background-color: #F3C1F8;
}

@media only screen and (max-width: 1280px) {
    .movies-card-list__container {
        justify-content: space-evenly;
    }
}

@media only screen and (max-width: 910px) {
    .movies-card-list {
        padding: 70px 30px 0 30px;
    }

    .movies-card-list__container {
        grid-template-columns: repeat(auto-fill, 339px);
        gap: 47px 30px;
        justify-content: center;
        margin: 0 0 50px 0;
    }
}

@media only screen and (max-width: 400px) {
    .movies-card-list {
        padding: 40px 10px 80px 10px;
    }
    
    .movies-card-list__container {
        row-gap: 39px;
        margin: 0 0 63px 0;
    }
}